.best{
    background-color: red;
    text-align: center;
}
.good{
    background-color: orangered;
    border: 5px solid red;
    margin-top: 5px;
}
.good1{
    background-color: orangered;
    border: 5px solid red;
    margin-top: 5px;
}