.best{
    width: 1000px;
    height: 1200px;
    margin: 0 auto;
    border: 1px solid;
}
.row1{
    width: 700px;
    height: 130px;
    border: 1px solid;
    background-color: #f1f1f1f1;
    margin-left: 50px;
    margin: 20px;
}
.good1{
    background-color: #0062cc;
    width: 300px;
    height: 100px;
    float: left;
    margin-top: 15px;
    margin-left: 28px;
    text-align: center;
    color: white;
    font-size: 25px;
}
.good2{
    background-color: #0062cc;
    width: 190px;
    height: 100px;
    float: left;
    margin-top: 15px;
    margin-left: 28px;
    text-align: center;
    color: white;
    font-size: 25px;
}
.good3{
    background-color: #0062cc;
    width: 135px;
    height: 100px;
    float: left;
    margin-top: 15px;
    margin-left: 28px;
    text-align: center;
    color: white;
    font-size: 25px;
}
.good4{
    background-color: #0062cc;
    width: 135px;
    height: 100px;
    float: left;
    margin-top: 15px;
    margin-left: 28px;
    text-align: center;
    color: white;
    font-size: 25px;
}
.good5{
    background-color: #0062cc;
    width: 135px;
    height: 100px;
    float: left;
    margin-top: 15px;
    margin-left: 28px;
    text-align: center;
    color: white;
    font-size: 25px;
}
.good02{
    background-color: #0062cc;
    width: 300px;
    height: 100px;
    float: left;
    margin-top: 15px;
    margin-left: 28px;
    text-align: center;
    color: white;
    font-size: 25px;
}
.good55{
    background-color: #0062cc;
    width: 485px;
    height: 100px;
    float: left;
    margin-top: 15px;
    margin-left: 28px;
    text-align: center;
    color: white;
    font-size: 25px;
}
.p1{
    margin: 25px;
}