.best{
    text-align: center;
}
.good{
    background-color: orangered;
    border: 5px solid white;
    margin-top: 5px;
}
.good1{
    background-color: orangered;
    border: 5px solid white;
    margin-top: 5px;
}