.best{
    text-align: center;
}

.good1{
    background-color: red;
    border: 5px solid white;
    margin-top: 2px;
    height: 80px;
}.good22{
    background-color: red;
    border: 5px solid white;
    margin-top: 5px;
}
.good2{
    background-color: red;
    height: 70px;
    border-top: 48px solid white;
    border-bottom: 0 solid white;
}
.good3{
    background-color: red;
    height: 50px;
    border-top: 25px solid white;
    border-right: 10px solid white;
}